
.gradient-background {
    /* background: -webkit-linear-gradient(45deg, rgba(234, 21, 129, 0.6), rgba(10, 23, 187, 0.6) 100%) !important;
    background: -webkit-gradient(linear, 45deg, from(rgba(234, 21, 129, 0.6)), to(rgba(10, 23, 187, 0.6))) !important;
    background: linear-gradient(to 45deg, rgba(234, 21, 129, 0.6), rgba(10, 23, 187, 0.6) 100%) !important; */
 }
 body{  
     
    background: -webkit-linear-gradient(45deg, rgba(234, 21, 129, 0.6), rgba(10, 23, 187, 0.6) 100%) !important;
    background: -webkit-gradient(linear, 45deg, from(rgba(234, 21, 129, 0.6)), to(rgba(10, 23, 187, 0.6))) !important;
    background: linear-gradient(to 45deg, rgba(234, 21, 129, 0.6), rgba(10, 23, 187, 0.6) 100%) !important;
background-size: 100% 100%;


}
  .accordion.accordion-2 p {
    font-size: 1rem; }
  .accordion.accordion-2 .card {
    border: 0;
    background-color: transparent; }
    .accordion.accordion-2 .card .card-header,
    .accordion.accordion-2 .card .card-body {
      border: 0;
      border-radius: 3px; }
                          
      .img-logo{
        width: 30% !important;
      }

      @media (max-width:600px){
        .img-logo{
          width: 100% !important;
        }
      }