/* Your custom styles */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
/* type face font */
/* main button */
body{
  font-family: 'Roboto', sans-serif;
}

.img-logo{
  width: 30%;
}

.extra{
  width: 30% !important;
}
@media (max-width:600px){
  .extra{
    width: 100% !important;
  }
}

.img-app-screens {
  max-width: 100%;
}
#header {
  background: white;
}

.navbar {
  box-shadow: none;
  width: 100%;
  background: white;
  padding-left: 10%;
  padding-right: 10% !important;
  margin: auto;
}
.active{
  font-weight: bolder;
}
@media (max-width:800px) {
  .navbar {
    box-shadow: none;
    width: 90% !important;
    margin: auto;
    background: rebeccapurple;
    color: white !important;
  }
  .img-logo {
    width: 100%;
}
.navbar-dark .navbar-brand {
  color: black;
  width: 30%;
}
#main h2 {
  font-weight: bolder;
  font-size: 2em !important;
}

}

.btn {
  /* flex: 1 1 auto; */
  /* margin: 10px;
    padding: 30px; */
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
}

.btn-4 {
  /* background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%); */
  /* background: -webkit-linear-gradient(left, #3dade9, #bf2fcb); */
  background-image: linear-gradient(to right, #bf2fcb 1%, #3dade9 51%, #bf2fcb 80%);
}

/* button end */

/* nav bar */

.navbar-dark .navbar-brand {
  color: black;
}

.navbar-nav {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.error {
  color: red;
}

::placeholder {
  color: white !important;
  opacity: 1; /* Firefox */
}
label.error{
  top: 4rem;
  color: red !important;
}

.md-form:nth-child(2) label.error{
  top: 2.5rem;
}
.md-form:nth-child(3) label.error{
  top: 2.5rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white !important;
}

@media (max-width:500px){
  #main h2 {
    margin: 5% 0 0;
    font-weight: bolder;
    font-size: 2em;
}
#main p {
  font-size: 1.2em !important;
  width: 80% !important;
}
#store2 .border {
  display: flex;
  justify-content: space-around;
  width: 100% !important;
  margin: auto;
  border: 0 !important;
  margin-bottom: 1%;
}
#main2 p {
  font-size: .8em !important;
  width: 80% !important;
  text-align: center;
  margin-bottom: 3% !important;
  margin-top: 3% !important;
}

#store2 {
  margin-top: 2%;
  display: none;
}
#main2 h2 {
  width: 100%;
  margin: auto;
  font-weight: bolder;
  font-size: 1.8em;
}
.white span {
  color: white !important;
  font-size: .8em;
}
  .navbar-nav {
    width: 100%;  
    display: flex;
    justify-content: space-between;
}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #fff !important;
  -webkit-transition: .35s;
  transition: .35s;
}
.blue span {
  flex-basis: 75%;
  text-align: left;
} 
.blue i {
  font-size: 2em;
  flex-basis: 20%;
  line-height: 170%;
}
.blue{
  display: flex !important;
  justify-content: space-around;
  width: 48% !important;
}

.blue {
  display: flex !important;
  justify-content: space-around;
  display: flex !important;
  font-weight: 100;
  padding: .2em !important;
  font-size: .9em !important;
  font-weight: 100;
  line-height: 150%;
  /* letter-spacing: 1px; */
  /* letter-spacing: 1px; */
}
.border {
  display: flex;
  justify-content: space-between;
  width: 90% !important;
  margin: auto;
  border: 0 !important;
  margin-bottom: 1%;
}
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  color: rgb(53, 53, 53) !important;
}
.navbar-nav li {
  flex-basis: 20%;
  margin: 2% 0 0;
  text-align: center;
}

.navbar-nav li a {
  color: black !important;
}
.navbar-nav li:nth-child(2) {
  flex-basis: 25%;
  margin: 2% 0 0;
}
.navbar-nav li:nth-child(4) {
  flex-basis: 25%;
  margin: 2% 0 0;
}

.navbar-nav li:nth-child(5) {
  flex-basis: 30%;
  margin: 0;
}

.navbar-nav li:nth-child(5) a {
  color: white !important;
}

/* end navbar */

/* Main styles */

.padding {
  padding-top: 15% !important;
}

#main h2 {
  font-weight: bolder;
  font-size: 3em;
}

#main p {
  font-size: 2em;
  width: 50%;
  text-align: center;
  margin: auto;
}

.custom-car-img {
  width: 100%;
}

/* store button */

.btn2 {
  display: inline-block;
  /* margin: 1em 0;
    padding: 1em 2em; */
  background: transparent !important;
  border-radius: 3px;
  font-weight: 400;
  text-align: center;
  width: 45%;
}

.blue span {
  background: -webkit-linear-gradient(left, #3dade9, #bf2fcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border {
  display: flex;
  justify-content: space-between;
  width: 52%;
  margin: auto;
  border: 0 !important;
  margin-bottom: 1%;
}

#store {
  margin-top: 2%;
}

.border .blue {
  border-left: 2px solid #3dade9;
  border-right: 2px solid #bf2fcb;
  background-image: -webkit-gradient(linear, left top, right top, from(#3dade9), to(#bf2fcb)), -webkit-gradient(linear, left top, right top, from(#3dade9), to(#bf2fcb));
  background-image: linear-gradient(left, #3dade9, #bf2fcb), linear-gradient(left, #3dade9, #bf2fcb);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
  font-weight: bold;
}

.blue {
  padding: .75em;
  font-size: 1em;
  display: flex !important;
  font-weight: 100;
  /* line-height: 250%; */
  /* letter-spacing: 1px; */
}

.box .blue {
  -webkit-box-shadow: -1px 0 0 1px rgba(61, 173, 233, 0.75), -1px -1px 0 1px rgba(94, 142, 226, 0.25), -1px 1px 0 1px rgba(94, 142, 226, 0.25), 0 -1px 0 1px rgba(126, 110, 218, 0.5), 0 1px 0 1px rgba(126, 110, 218, 0.5), 1px -1px 0 1px rgba(159, 79, 211, 0.25), 1px 1px 0 1px rgba(159, 79, 211, 0.25), 1px 0 0 1px rgba(191, 47, 203, 0.75);
  box-shadow: -1px 0 0 1px rgba(61, 173, 233, 0.75), -1px -1px 0 1px rgba(94, 142, 226, 0.25), -1px 1px 0 1px rgba(94, 142, 226, 0.25), 0 -1px 0 1px rgba(126, 110, 218, 0.5), 0 1px 0 1px rgba(126, 110, 218, 0.5), 1px -1px 0 1px rgba(159, 79, 211, 0.25), 1px 1px 0 1px rgba(159, 79, 211, 0.25), 1px 0 0 1px rgba(191, 47, 203, 0.75);
}

.blue i {
  font-size: 1.4em;
  flex-basis: 20%;
}

.blue span {
  flex-basis: 75%;
}

/* end of store buttons */

/* second section */

#main2 {
  color: white;
}

#section2 {
  background: #017ED0;
  padding-top: 5%;
  padding-bottom: 5%;
}

#main2 h2 {
  width: 100%;
  margin: auto;
  font-weight: bolder;
  font-size: 2.5em;
}

#main2 p {
  font-size: 1.5em;
  width: 50%;
  text-align: center;
  margin: auto;
}

#store2 {
  margin-top: 2%;
}

#store2 .border {
  display: flex;
  justify-content: space-around;
  width: 72%;
  margin: auto;
  border: 0 !important;
  margin-bottom: 1%;
}

.white {
  border: 2px solid white;
  color: white;
  box-shadow: none !important;
  border-left: 2px solid white !important;
  border-right: 2px solid white !important;
}

.white span {
  color: white !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}

/* Section 3 styles */

#section3 {
  padding-top: 5%;
  padding-bottom: 5%;
}

#section3 .grider i {
  font-size: 3em;
  margin-bottom: 2%;
  BORDER: 2px solid #017ed0;
  padding: 6%;
  border-radius: 50%;
}

#section3 .grider .item {
  margin-bottom: 10%;
}

#section3 .grider h2 {
  margin: auto;
  margin-bottom: 7%;
}

/* section 4 */

#section4 {
  padding-top: 5%;
  padding-bottom: 5%;
  /* background: #2595DF; */
  background: url(../img/driver.png);
  background-size: cover;
  color: white;
}

#section4>.container>.row>h2 {
  margin: auto;
  margin-bottom: 5%;
}
@media (max-width:1024px) and (orientation:portrait){
  .p-custom-20{
    margin-top:3rem;
  }
}
.content {
  height: 200px;
}


.content h5 {
  font-weight: bold;
}

.content p {
  text-align: justify;
  text-align-last: center;
}
@media (max-width:800px){
  .content {
    height: auto;
}
.img-app-screens {
  max-width: 100%;
  height: 450px;
}
}

/* section 5 */

#section5 .grider2 {
  justify-content: space-between;
  margin-top: 5%;
}

#section5 .item {
  border-radius: 50%;
  padding: 7%;
  flex-basis: 30%;
  color: white
}

#section5 .item:nth-child(1) {
  background: #A6C73C;
  border: 2px solid #A6C73C;
}

#section5 .item:nth-child(2) {
  background: #019CDC;
  border: 2px solid #019CDC;
}

#section5 .item:nth-child(3) {
  background: #F8682C;
  border: 2px solid #F8682C;
}

#section5 .item i {
  font-size: 2em;
}

#section5 .item p {
  margin-bottom: 0;
}

#email {
  display: flex;
  /* width: 90%; */
  margin-top: 10%;
}

#email button {
  border-radius: 0;
}

.image-center img {
  margin: auto;
  margin-top: 5%;
}

#section5 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.md-form {
  text-align: left;
}

/* section 6 */

#section6 {
  background: #077FCB;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

#section6 h2 {
  padding-bottom: 4%;
  font-size: 3em;
}

.item3 {
  margin-top: 12%;
}

.item3:nth-child(1) {
  margin-top: 5%;
}

#section6 label,
#section6 i,
#section6 .grey-text {
  color: white !important;
}

#section6 .button {
  text-align: left !important;
  margin: 10% 0 0;
}

#section6 button {
  width: 50%
}

.item3 i {
  font-size: 3em;
  margin-bottom: .3em;
}

.item3:nth-child(2) i {
  font-size: 1.5em;
  margin-bottom: .3em;
}

.image-center img {
  margin: auto;
  margin-top: 5%;
  width: 100%;
}

@media (max-width:500px) {

  #section5 .item {
    border-radius: 50%;
    padding: 7%;
    width: 32%;
    color: white;
}
  .image-center img {
    width: auto;
    margin: auto;
    margin-top: 5%;
    max-width: 90%;
    height: 150px;
  }
  #section6 button {
    width: 100%;
  }
  .custom-img {
    max-width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 5%;
  }
}

.image-center .custom-img-3 {
  margin: auto;
  margin-top: 5%;
  width: 80%;
  max-width: 80%;
}

#contact img{

  max-width: 50%;
  margin: auto;
  margin-top: 10%;
  margin-left: 7%;

}

#contact .name {
  margin-left: 10%;
  margin-top: 5%;
}

#contact .online{
padding:2%;
background: #05D110;
/* margin: auto; */
margin-left: 30%;
border-radius: 30px;
width: 50%;
display: block;
padding-left:10%;
padding-right: 10%;

}

#contact .btn {
  width: 50%;
  display: block;
  margin-top:5%;
margin-left: 30%;

}




.form-elegant .font-small {
  font-size: 0.8rem; }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
  border-bottom: none; }

.modal-dialog .form-elegant .btn .fa {
  color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
  font-weight: 400; }
              


  footer article, footer h2 {

margin-bottom: 1%;

  }